In [98]:
import pandas as pd

df = pd.read_csv('data3.csv')

print(df.head())

   userID  did_research  interview_time  num_questions_asked  tech_Q_1  \
0       0             1              76                    2         1
1       1             1              39                    1         1
2       2             1              71                    0         1
3       3             1              65                    1         1
4       4             1              45                    0         1

   tech_Q_2  personality  salary_prev  salary_expect  success
0         0            2       119000         120000        1
1         0            1        80000         191000        0
2         0            3        87000         428000        0
3         0            1       119000         120000        1
4         1            2        91000         480000        0

In [99]:
df = df.drop('userID', axis=1)

In [100]:
print(df.head)

<bound method DataFrame.head of      did_research  interview_time  num_questions_asked  tech_Q_1  tech_Q_2  \
0               1              76                    2         1         0
1               1              39                    1         1         0
2               1              71                    0         1         0
3               1              65                    1         1         0
4               1              45                    0         1         1
5               1              66                    2         1         0
6               1              57                    2         1         1
7               1              49                    3         1         0
8               1              38                    0         1         0
9               1              49                    1         1         1
10              1              67                    0         1         1
11              1              47                    2         1         0
12              1              20                    0         1         0
13              1              64                    2         1         0
14              1              54                    2         1         1
15              1              60                    2         1         1
16              1              18                    1         1         0
17              1              79                    2         1         0
18              1              64                    1         1         0
19              1              60                    4         1         1
20              1              54                    0         1         0
21              1              27                    1         1         1
22              1              29                    0         1         1
23              1              18                    2         1         1
24              1              53                    2         1         0
25              1              78                    2         1         1
26              1              56                    4         1         0
27              1              61                    1         1         0
28              1              66                    4         1         0
29              0              46                    2         0         1
..            ...             ...                  ...       ...       ...
220             1              50                    2         1         1
221             1              27                    1         1         0
222             1              26                    1         1         0
223             1              60                    3         1         1
224             1              38                    2         1         1
225             1              77                    2         1         1
226             1              58                    4         1         1
227             1              41                    1         1         1
228             1              75                    2         1         1
229             1              76                    2         1         0
230             1              65                    2         1         1
231             1              78                    3         1         0
232             1              80                    3         1         1
233             1              42                    3         1         1
234             1              49                    3         1         1
235             1              42                    0         1         0
236             1              59                    2         1         0
237             1              61                    1         0         1
238             1              77                    2         1         1
239             1              51                    1         1         1
240             1              29                    0         1         0
241             1              22                    0         1         1
242             1              71                    1         1         1
243             1              77                    1         0         0
244             1              50                    2         1         0
245             1              61                    2         1         1
246             1              42                    4         1         1
247             1              59                    1         1         1
248             1              60                    2         1         1
249             1              56                    4         1         1

     personality  salary_prev  salary_expect  success
0              2       119000         120000        1
1              1        80000         191000        0
2              3        87000         428000        0
3              1       119000         120000        1
4              2        91000         480000        0
5              1       124000         134000        1
6              2       106000         111000        1
7              2       101000         103000        1
8              3        85000         299000        0
9              3       127000         137000        1
10             1        90000         150000        0
11             2        93000         102000        1
12             2        87000         149000        0
13             2        94000         357000        0
14             3       114000         115000        1
15             2        85000          91000        1
16             1        80000         250000        0
17             2        94000         113000        0
18             3        85000         432000        0
19             2        96000         100000        1
20             2        90000         150000        0
21             1        92000         462000        0
22             3        96000         171000        0
23             1        93000          98000        0
24             3        91000          93000        1
25             3        88000          90000        1
26             1        90000          95000        1
27             2        99000         389000        0
28             2       101000         111000        1
29             2        89000          97000        1
..           ...          ...            ...      ...
220            3        92000         190000        0
221            3        93000         171000        0
222            2        85000         188000        0
223            1       100000         105000        1
224            2        81000         262000        0
225            2       111000         121000        1
226            3       102000         105000        1
227            1       106000         108000        1
228            3        95000         212000        0
229            1       109000         116000        1
230            2        81000         451000        0
231            3        90000          99000        1
232            2       126000         129000        1
233            3        98000         106000        1
234            3       101000         105000        1
235            3        95000         154000        0
236            1        90000         258000        0
237            1        85000         152000        0
238            2        93000         165000        0
239            3        89000         175000        0
240            1        96000         326000        0
241            1        88000         482000        0
242            2        96000         244000        0
243            1        83000          84000        1
244            1        91000         276000        0
245            1        91000         100000        1
246            3       103000         109000        1
247            2        95000         405000        0
248            1       121000         124000        1
249            1        88000          94000        1

[250 rows x 9 columns]>

In [101]:
from sklearn.model_selection import train_test_split

In [102]:
y=df['success']

In [103]:
y

0      1
1      0
2      0
3      1
4      0
5      1
6      1
7      1
8      0
9      1
10     0
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     0
19     1
20     0
21     0
22     0
23     0
24     1
25     1
26     1
27     0
28     1
29     1
      ..
220    0
221    0
222    0
223    1
224    0
225    1
226    1
227    1
228    0
229    1
230    0
231    1
232    1
233    1
234    1
235    0
236    0
237    0
238    0
239    0
240    0
241    0
242    0
243    1
244    0
245    1
246    1
247    0
248    1
249    1
Name: success, Length: 250, dtype: int64

In [104]:
x=df.drop(['success'], axis=1)

In [105]:
x.shape

(250, 8)

In [106]:
y.shape

(250L,)

In [107]:
from sklearn.linear_model import LinearRegression

In [108]:
regression_model = LinearRegression()

In [109]:
regression_model.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [110]:
regression_model.coef_

array([ -9.75934863e-02,   3.51097369e-03,   1.33531604e-01,
        -2.19287905e-02,  -9.33042019e-03,  -5.16498412e-03,
         1.25541480e-05,  -1.64944973e-06])

In [112]:
regression_model.predict([7,1,1,0,0,0,0,1])

C:\Users\shorav\Anaconda2\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([-1.25230209])